<div id="row1">
  <div class="wrapper">
    <h1>Travel with luggage for cheap.</h1>
    <div class="center-wrap">
      <%= link_to raw('<i class="fa fa-plane"></i> Find Flight'), flights_path,  class: "btn-big btn-orange"%>
    </div>
  </div>

</div>
