@import "layout.css.less";
@import "fonts.css.less";
@import "form.css.less";
@import "css/font-awesome.min.css";
@import "utils.css.less";

@darkBlue: #014B79;
@lightBlue: #0183A7;
@yellow: #FFA400;
@darkOrange: #C43017;
@lightOrange: #FF4C00;

.box{
  text-align: center;
  padding: 8px;
  margin: 10px;
  width: 500px;
  margin-left: 400px;
  background-color: #4D969B;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 0px 0px 10px #000000;
  -webkit-box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 10px #000000;

  h4{
    color: #000;
    margin: 0 0 10px 0;
    font-size: 20px;
      }

      p{
        font-weight: 100;
        font-size: 17px;
        margin: 0;
      }

      .travel{
        text-align: left;
}
}

#flight{
  position: absolute;
  top: 80px;
  left: 20px;
}

