@import "layout.css.less";
@import "fonts.css.less";
@import "form.css.less";
@import "css/font-awesome.min.css";
@import "utils.css.less";

@darkBlue: #014B79;
@lightBlue: #0183A7;
@yellow: #FFA400;
@darkOrange: #C43017;
@lightOrange: #FF4C00;

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; border-color: #014B79; }
.ui-timepicker-div dl { text-align: left; border-color: #014B79; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; border-color: #014B79;}
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; border-color: #014B79;}
.ui-timepicker-div td { font-size: 90%; border-color: #014B79;}
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; border-color: #014B79;}

.ui-timepicker-rtl{ direction: rtl; border-color: #014B79;}
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; border-color: #014B79;}
.ui-timepicker-rtl dl dt{ float: right; clear: right; border-color: #014B79;}
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; border-color: #014B79;}

#flight{
  position: absolute;
  top: 80px;
  left: 20px;
}


#row2{
  background-color: #fff;
  height: 400px;
  .column3{
    text-align: center;
    background-color: #fbbf54;
    width: 280px;
    //height: 265px;
    margin: auto;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 10px;
    padding-top: -10px;
    -moz-box-shadow: 0px 0px 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #000000;
    box-shadow: 0px 0px 10px #000000;
    vertical-align: top;
    h2{
      margin: 10px;
}

img{
  display: block;
  margin:  auto;
  height: 200px;
  width: 280px;
}
.details{
  display: none;
  font-size: 16px;
  margin-top: 0px;
  padding: 0 15px 15px 15px;
  }
}
}

#planeform{
  background: image-url("foule4.jpg");
  height: 645px;
  width: auto;
  padding: 15px;

  .fondblanc{
  float: left;
  width: 495px;
  margin: 10px auto;
    padding: 0px;
    background-color: #fff;
    -moz-box-shadow: 0px 0px 10px #000000;
  -webkit-box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 10px #000000;
  h2{
  text-align: center;
  font-family: "MyriadproBC";
  font-size: 35px;
  padding: 5px;
  margin-bottom:5px;
  margin-top:10px;
  }
}
}

#flightform{
  background: image-url("delta.jpg");
  background-size: 100%;
  height: auto;
  width: 100%;
  padding: 15px;

  .fondblanc2{
  width: 495px;
  margin: 10px auto;
    padding: 0px;
    background-color: #fff;
    -moz-box-shadow: 0px 0px 10px #000000;

  -webkit-box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 10px #000000;
  h2{
  width: 495px;
  text-align: center;
  font-family: "MyriadproBC";
  font-size: 35px;
  padding: 5px;
  margin-bottom:5px;
  margin-top:10px;
  }
}
}

.result{
float:right;
   width: 700px;
  margin: 10px auto;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  -moz-box-shadow: 0px 0px 10px #000000;
  -webkit-box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 10px #000000;
  h1{
  margin-top:0px;
  padding-top: 10px;
  margin-bottom:0px;
  padding-bottom:10px;
  text-align: center;
  font-family: "MyriadproBC";
  font-size: 40px;
  }
  table{
  border:1px solid #9f9b90;
  padding:3px 7px 2px 7px;
  width:100%;
  border-collapse:collapse;
  padding: 15px;

  thead{
    padding:7px 7px 7px 7px;
    background-color: #9f9b90;
    color:white;
    width: 50px;
}
td{
  text-align:center;
}
}
}

#linknew{
float: right;
  width: 170px;
  margin-right: 50px;
  margin-top:5px;
  padding: 5px;
  margin-bottom: 50px;
}
.field{
  width: auto;
  padding: 10px;
  width: 475px;
}

.field:hover{
padding-left: 4px;
  background-color: #ececec;
  border-left: 6px solid @lightBlue;
}

div.post{
  margin: 10px auto;
  width: 500px;
  border: 2px solid #eee;
  background-color: #ddd;
  padding: 15px;
  h4{
    margin: 5px;
    font-size: 20px;
  }
 .weight{
    display: inline-block;
    float: right;
    font-family: "MyriadproBC";
    font-size: 60px;
    padding: 5px;
}
  p{
    margin: 5px;
    color: #444;
  }
}

div.post:hover{
  background-color: @lightBlue;
  color: #fff;
  p{
    color: #eee;
  }
}
